@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  background-color: #f8f9fa;
}

*::placeholder {
  color: #6c757d;
}

#mainBoard {
  flex-grow: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid #dee2e6;
}

#sideBar {
  position: sticky;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #343a40;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

label {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}

input[type="color"] {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
}

input {
  text-align: center;
}

textarea {
  text-align: center;
}

select {
  text-align: center;
}

#settings {
  display: none;
  margin-top: 1rem;
  border: 1px solid #ffffff;
  padding: 1rem;
  width: 100%;
  text-align: center;
  background-color: #495057;
  border-radius: 0.25rem;
}
